* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
  }
  
  /* Estrutura básica da página */
  .containerPlanodeAssinatura {
    text-align: left;
    padding: 2%;
    margin: 2%;
  }
  
  .texto h1 {
    margin-bottom: 20px;
    color: #333;
    margin-left: 5%;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .cardplano {
    flex: 1 0 22%; /* Define a largura dos cards para quatro colunas */
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1%;
  }
  
  .nomeplano1 {
    background-color: bisque;
    padding: 10px;
    text-align: center;
  }
  
  .nomeplano1 h2 {
    margin: 0;
  }
  
  .detalhes1 {
    padding: 20px;
    text-align: center;
  }
  
  .valor1 {
    font-size: larger;
    margin-bottom: 10px;
  }
  
  .detalhes2 {
    text-align: left;
    margin-top: 10px;
  }
  
  .buttoncompra1 {
    margin-top: auto;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Responsividade */
  @media (max-width: 1500px) {
    .cardplano {
      flex: 1 0 22%; /* Quatro colunas entre 1000px e 1500px */
    }
  }
  
  @media (max-width: 1000px) {
    .cardplano {
      flex: 1 0 45%; /* Duas colunas entre 768px e 1000px */
    }
  }
  
  @media (max-width: 768px) {
    .cardplano {
      flex: 1 0 100%; /* Uma coluna abaixo de 768px */
    }
  }
  